@page "/NuevaFactura"

<AuthorizeView Roles = "Administrador , Usuario">
    <Authorized Context="AutheticationState">

        <EditForm Model="@factura">
            <div class="rz-card card" style="width: 100%">
                <div class="form-group row">
                    <div class="col-md-3">
                        <b>Fecha:</b>
                        <RadzenDatePicker @bind-Value=@factura.Fecha DateFormat="d" Class="w-100" />
                    </div>

                    <div class="col-md-9">
                        <b>Cliente:</b>
                        <InputText id="Cliente" class="form-control" @bind-Value="factura.Cliente" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <b>Codigo Producto:</b>
                        <InputText id="Codigo" class="form-control" @bind-value="codigoProducto" ValueExpression="@( () => @codigoProducto)" @onkeypress="@BuscarProducto" />
                    </div>

                    <div class="col-md-6">
                        <b>Producto:</b>
                        <InputText readonly id="Descripcion" class="form-control" @bind-value="@producto.Descripcion" ValueExpression="@( () => @producto.Descripcion)" />
                    </div>
                    <div class="col-md-2">
                        <b>Cantidad:</b>
                        <InputText  id="Cantidad" class="form-control" @bind-value="@cantidad" ValueExpression="@( () => @producto.Descripcion)" />
                    </div>
                    <div class="col-dm-1">
                        <b>Agregar</b>
                        <input type="submit" class="btn btn-primary" value="Agregar" @onclick="AgregarProducto" />
                    </div>
                </div>
            </div>
            <br/>

            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var det in listaDetalleFactura)
                    {
                        <tr>
                            <td>@det.CodigoProducto</td>
                            <td>@det.Producto</td>
                            <td>@det.Cantidad</td>
                            <td>@det.Precio</td>
                            <td>@det.Total</td>
                        </tr>
                    }
                </tbody>
            </table>

            <br />
            <div align="right">
                <div class="form-group row">
                    <label for="SubTotal" class="col-sm-10 col-form-label">SubTotal</label> 
                    <div class="col-md-2">
                        <InputNumber readonly id="SubTotal" TValue="Decimal" class="form-control" @bind-value="factura.SubTotal" ValueExpression="@( () => factura.Subtotal)"/>
                    </div>     
                </div>

                <div class="form-group row">
                    <label for="Descuento" class="col-sm-10 col-form-label">Descuento</label> 
                    <div class="col-md-2">
                        <InputNumber  id="Descuento" TValue="Decimal" class="form-control" @bind-value="factura.Descuento" ValueExpression="@( () => factura.Descuento)"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ISV" class="col-sm-10 col-form-label">Impuesto</label> 
                    <div class="col-md-2">
                        <InputNumber readonly id="Descuento" TValue="Decimal" class="form-control" @bind-value="factura.ISV" ValueExpression="@( () => factura.ISV)"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Total" class="col-sm-10 col-form-label">Total</label> 
                    <div class="col-md-2">
                        <InputNumber readonly id="Descuento" TValue="Decimal" class="form-control" @bind-value="factura.Total" ValueExpression="@( () => factura.Total)"/>
                    </div>
                </div>
            </div>

            <div align = "right">
                <input type="submit" class="btn btn-primary" value="Guardar Factura" @onclick="Guardar"/>
            </div>

        </EditForm>



    </Authorized>




</AuthorizeView>

